<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Split the values using "-" without spaces. -->
  <appSettings>
    <add key ="Haut-Richelieu" value="\\10.104.102.220\-\\10.104.102.250\-\\10.104.102.207\-\\10.104.102.218\-\\10.104.102.20\-\\10.104.102.21\"/>
    <add key ="Jean-Talon" value="\\10.136.128.151\-\\10.136.128.152\-\\10.136.128.246\"/>
    <add key="Baie-Comeau" value="\\10.64.36.205\-\\10.64.36.206\-\\10.64.36.207\-\\10.64.36.208\-\\10.64.36.214\-\\10.64.36.215\"/>
    <add key="Sept-Iles" value="\\10.64.40.205\-\\10.64.40.208\-\\10.64.40.221\-\\10.64.40.222\"/>
    <add key="Maria" value="\\10.12.40.84\-\\10.12.43.226\"/>
    <add key="Mont-Laurier" value="\\10.92.45.121\-\\10.92.45.122\-\\10.92.46.62\"/>
    <add key="Argenteuil" value="\\10.92.45.123\-\\10.92.45.124\"/>
    <add key="Dynacare" value="\\192.168.14.33\-\\192.168.14.34\-\\192.168.14.44\-\\192.168.14.45\"/>
    <add key="FMV" value="\\10.72.0.36\-\\10.72.0.37\"/>
    <add key ="VML" value="\\10.60.1.11\-\\10.60.1.12\-\\10.60.1.13\"/>
    <add key ="Blanc-Sablon" value="\\10.64.40.215\"/>
    <add key ="Minganie" value="\\10.64.40.217\"/>
    <add key ="Fermont" value="\\10.64.40.219\"/>
    <add key ="Port-Cartier" value="\\10.64.40.207\"/>
    <add key ="Chandler" value="\\10.12.40.85\"/>
    <add key ="Gaspé" value="\\10.12.40.83\"/>
    <add key ="SAM" value="\\10.12.40.99\"/>
    <add key ="Tulattavik" value="\\10.72.36.131\"/>
    <add key ="Pembroke" value="\\172.22.0.108\"/>
    <add key ="Deep River" value="\\192.168.0.26\"/>
    <add key ="St-Francis" value="\\10.0.0.11\"/>
    <add key ="BNK" value="\\192.168.1.2\"/>
    <add key ="Unicity" value="\\192.168.168.3\"/>

    <!-- This is used for Debugging-->
    <add key ="_Debug" value="Nothing"/>

  </appSettings>
</configuration>
