<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />  
    </startup>
  <appSettings>
    <add key ="Haut-Richelieu" value="10.104.96.36"/>
    <add key ="Jean-Talon" value="10.136.128.244"/>
    <add key="Baie-Comeau" value="10.64.36.203"/>
    <add key="Sept-Iles" value="10.64.40.203"/>
    <add key="Maria" value="10.12.40.100"/>
    <add key="Mont-Laurier" value="10.92.45.119"/>
    <add key="Argenteuil" value="10.92.45.120"/>
    <add key="Dynacare Montréal" value="192.168.14.102"/>
    <add key="Dynacare Manitoba" value="192.168.14.125"/>
    <add key="Chisasibi" value="10.76.105.69"/>
    <add key ="Inuulitsivik" value="10.72.64.156"/>
    <add key ="Blanc-Sablon" value="10.64.40.214"/>
    <add key ="Minganie" value="10.64.40.216"/>
    <add key ="Fermont" value="10.64.40.218"/>
    <add key ="Port-Cartier" value="10.64.40.206"/>
    <add key ="Chandler" value="10.12.40.97"/>
    <add key ="Gaspé" value="10.12.40.92"/>
    <add key ="SAM" value="10.12.40.98"/>
    <add key ="Tulattavik" value="10.72.36.16"/>
    <add key ="Archipel" value="10.12.40.128"/>
    <add key ="Chibougamau" value="10.68.32.35"/>
    <add key ="Louis-H" value="10.129.64.91"/>
  </appSettings>
</configuration>